<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.netinnet.usercenter.dao.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="cn.netinnet.usercenter.domain.SysLoginLog">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="school_id" jdbcType="BIGINT" property="schoolId" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    log_id, user_id, user_name, school_id, login_ip, login_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_login_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_login_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="cn.netinnet.usercenter.domain.SysLoginLog">
    update sys_login_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <sql id="sql_columns">
    insert into sys_login_log
	<trim prefix="(" suffix=") values" suffixOverrides=",">
		log_id,user_id,user_name,school_id,login_ip,login_time,
	</trim>
  </sql>
  <sql id="sql_values">
    <trim prefix="(" suffix=")" prefixOverrides=",">
		, #{item.logId}
		, #{item.userId}
		, #{item.userName}
		, #{item.schoolId}
		, #{item.loginIp}
		, #{item.loginTime}
	</trim>	
  </sql>
  <sql id="sql_where">
    <where>
		<if test="null != item.logId">and log_id = #{item.logId}</if>
		<if test="null != item.userId">and user_id = #{item.userId}</if>
		<if test="null != item.userName">and user_name = #{item.userName}</if>
		<if test="null != item.schoolId">and school_id = #{item.schoolId}</if>
		<if test="null != item.loginIp">and login_ip = #{item.loginIp}</if>
		<if test="null != item.loginTime">and login_time = #{item.loginTime}</if>
	</where>
  </sql>
  <sql id="sql_update">
    update sys_login_log set 
	<trim prefix="" suffix="" prefixOverrides=",">
		<if test="null != item.logId">, log_id = #{item.logId}</if>
		<if test="null != item.userId">, user_id = #{item.userId}</if>
		<if test="null != item.userName">, user_name = #{item.userName}</if>
		<if test="null != item.schoolId">, school_id = #{item.schoolId}</if>
		<if test="null != item.loginIp">, login_ip = #{item.loginIp}</if>
		<if test="null != item.loginTime">, login_time = #{item.loginTime}</if>
	</trim>
	where  log_id = #{item.logId}
  </sql>
  <sql id="sql_save_columns">
    insert into sys_login_log
	<trim prefix="(" suffix=") values" prefixOverrides=",">
		<if test="null != list[0].logId">, log_id</if>
		<if test="null != list[0].userId">, user_id</if>
		<if test="null != list[0].userName">, user_name</if>
		<if test="null != list[0].schoolId">, school_id</if>
		<if test="null != list[0].loginIp">, login_ip</if>
		<if test="null != list[0].loginTime">, login_time</if>
	</trim>	
  </sql>
  <sql id="sql_save_values">
    <trim prefix="(" suffix=")" prefixOverrides=",">
		<if test="null != item.logId">, #{item.logId}</if>
		<if test="null != item.userId">, #{item.userId}</if>
		<if test="null != item.userName">, #{item.userName}</if>
		<if test="null != item.schoolId">, #{item.schoolId}</if>
		<if test="null != item.loginIp">, #{item.loginIp}</if>
		<if test="null != item.loginTime">, #{item.loginTime}</if>
	</trim>	
  </sql>
  <insert id="batchInsert" parameterType="java.util.List">
    <include refid="sql_columns" />
	<foreach collection="list" index="index" item="item" open="" separator="," close="">
	  <include refid="sql_values" />
	</foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="java.util.List">
    <include refid="sql_save_columns" />
	<foreach collection="list" index="index" item="item" open="" separator="," close="">
	  <include refid="sql_save_values" />
	</foreach>
  </insert>
  <update id="batchUpdateByPrimaryKey">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
	  <include refid="sql_update" />
	</foreach>
  </update>
  <insert id="insertSelective" parameterType="cn.netinnet.usercenter.domain.SysLoginLog">
    insert into sys_login_log
	<trim prefix="(" suffix=") " suffixOverrides=",">
		<if test="null != logId"> log_id,</if>
		<if test="null != userId"> user_id,</if>
		<if test="null != userName"> user_name,</if>
		<if test="null != schoolId"> school_id,</if>
		<if test="null != loginIp"> login_ip,</if>
		<if test="null != loginTime"> login_time,</if>
	</trim>
	 <trim prefix=" values(" suffix=")" suffixOverrides=",">
		<if test="null != logId"> #{logId,jdbcType=BIGINT},</if>
		<if test="null != userId"> #{userId,jdbcType=BIGINT},</if>
		<if test="null != userName"> #{userName,jdbcType=VARCHAR},</if>
		<if test="null != schoolId"> #{schoolId,jdbcType=BIGINT},</if>
		<if test="null != loginIp"> #{loginIp,jdbcType=VARCHAR},</if>
		<if test="null != loginTime"> #{loginTime,jdbcType=TIMESTAMP},</if>
	</trim>
  </insert>
  <delete id="batchDeleteByArray">
    delete from sys_login_log where log_id in
	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
  </delete>
  <delete id="batchDeleteByList">
    delete from sys_login_log where log_id in
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
  </delete>
  <select id="getList" parameterType="cn.netinnet.usercenter.domain.SysLoginLog" resultMap="BaseResultMap">
     select log_id,user_id, user_name, school_id, login_ip, login_time from sys_login_log
    <include refid="sql_where" />
  </select>

    <!-- 删除endDate之前的用户登录日志 -->
    <delete id="delLogsByEndDate">
        delete from sys_login_log where login_time <![CDATA[<=]]> #{endDate}
    </delete>

    <!--查询登录日志-->
    <select id="queryByDate" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_login_log
        <where>
            <if test="beginDate != null and beginDate != ''">
                and login_time <![CDATA[>=]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and login_time <![CDATA[<=]]> #{endDate}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
        </where>
    </select>
</mapper>